@charset "utfy-8";
/***首页内页**/
#head_nav{
	width: 1200px;
	margin: 0 auto;
}

#h_nav_ul{
    width: 100%;
	border-bottom:2px solid #2677B1;
}
#h_nav_ul>li{
	text-align: center;
	float: left;
	width: 13%;
    height: 35px;
    line-height: 35px;
    background-color: #EFEFEF;
    color:#212054;
    margin-left: 2px;
}
#h_nav_ul::after{
    display: block; content: ""; width: 0; clear: both;
}
#h_nav_ul>li:first-child{
    margin-right: 2px;
    margin-left: 0 !important;
    width: 249px;
    background-color: #2677B1;
    color:#F7F7F7;
}
#h_nav_ul>li:first-child a{
    color:#EFEFEF!important;
}
#h_nav_ul>li:first-child a:hover{
    color: #F7F7F7!important;

    background-color: #4981BD;
}

#h_nav_ul>li>a{
    display: block;
    width: 100%;
}

#h_nav_ul>li>a:hover{
background-color:#F7F7F7 ;
}

.h_sub_menu{
    border-top:2px solid #2677B1 ;
    outline: 1px solid #D1D1D1;
    display: none;
}
.h_sub_menu>li>a{
    display: block;
    width: 100%;
}
.h_sub_menu>li>a:hover{
    display: block;
    width: 100%;
    background-color: #D9EFF1;
}

/*首页内页内容侧栏*/
.list_content{
    width: 1200px;
    margin: 10px auto;
}
.list_content::after{
    display: block;
    clear: both;
    content: '';
    overflow: hidden;
}
.left_content{
    width: 247px;
    float: left;

}
.little_header{
    width: 247px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color:#2677B1 ;
    color: #F7F7F7;
    margin-top:10px ;
    position: relative;
}
.little_header>a{
    position: absolute;
    top:0;
    left: 200px;
    display:inline-block;
    color: #F7F7F7;
}
.little_header>a:hover{
 color: #C9CED0;
}
.little_content{
    border: 1px solid #D1D1D1;
}
.little_content li{
    height: 30px;
    border-top: dashed 1px #dddddd;
    line-height: 30px;
}
#ad_content{

    border: 1px solid #D1D1D1;
    height: 120px;
    overflow: hidden;
}
#ad_content li{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#ad_ul li:nth-child(2n){
    background-color: #CCE9EC;
}
.odd li:nth-child(2n+1){
    background-color: #CCE9EC;
}
.even li:nth-child(2n){
    background-color: #CCE9EC;
}
/************************************/

.new-message{

}
.new-message>h1{
    background-color: #2677B1;
    font-size: 18px;
    color: white;
    padding: 10px 0px;
}
.new-message>ul{

}
.new-message>ul>li{
    line-height: 26px;
    background-color: azure;
    font-size: 14px;
    color: #666666;
    padding-left: 6px;
}





/*****公有public****/
.list_content .main-right{
    width: 948px;
   /* height: 500px;*/
   /* background: red;*/
    float: right;
    margin-bottom: 100px;
}

/*************仓储详情部分****************/
.storageWrap{
    width: 800px;
    margin: 0px auto;
  
}
.storageWrap .headline{
    width: 100%;
}
.storageWrap .headline>h1{
    text-align: center;
    font-size: 22px;
    padding: 10px 0px;
}
.storageWrap .headline>p{
    line-height: 25px;
    text-align: right;
    padding-right: 14px;
}
.storageWrap .headline>p.cle{
    display: block;
    clear: both;
    content: '';
    overflow: hidden;
}
.storageWrap .headline>p>h2{

}
.storageWrap .headline>p>span.left{
    float: left;
    padding-left: 22px;
}
.storageWrap .headline>p>span.right{
    float: right;
    padding-right: 8px;
}
.storageWrap>table{
    width: 760px;
    margin: 5px auto;
    border: none;
}
.storageWrap>table tr>th{
    border: none;
    text-align: center;
    font-size: 16px;
}
.storageWrap>table tr>td{
    border: 1px solid #cfcfcf;
    line-height: 30px;
}
.storageWrap>table tr>td>p.marker{
    padding-left: 6px;
}
.storageWrap>table tr>td:first-child{
    width: 124px;
    text-align: center;
}
.storageWrap>table tr>td:nth-child(2){
    padding-left: 6px;
}
.storageWrap>table tr>td>dl{
   /* padding-left: 6px;*/
}
.storageWrap>table tr>td>dl>dt{
    line-height: 32px;
    display: inline-block;
    width: 92px;
}
.storageWrap>table tr>td>dl>dd{
    display: inline-block;
    width: 216px;
}

/**************/

/***托盘出租部分****/

/*代码和仓储详情部分一样*/

/************/
/*仓储列表style*/
#breadcrumb-main{ width: 948px; margin:0 auto; }
/*center-list style*/
#center-list .menu{ padding:10px 20px; margin: 20px 0;}
#center-list .menu .menu-title{ display:inline-block; /*height:25px;*/line-height: 34px; width: 90px; font-size:14px; color:#5A5A5A;}
#center-list .menu span{ display:inline-block; width:35px; height:18px; line-height:18px; text-align:center; background-color:#FFCA02; color:#FFF; font-size:14px; margin:0 5px;}

#conter-list .menu dl{ float: left; }
#center-list .menu dd{ color:#424242; font-size:14px; display:inline-block; margin:0 5px; cursor: pointer;}
.menu input{ margin-bottom: 3px; }
.menu input.storage-search{ width: 200px; height: 28px; padding: 0 10px; margin-left: 10px; }
.menu input.storage-btn{ width: 60px; height: 30px; background: #009EE5; color: #FFF; border: none; border-radius: 2px; font-size: 14px; }

/*lease-table style*/
#lease-table .table-title{ display: inline-block; padding: 10px 15px; background: #009EE5; color: #FFF; font-size: 18px; border-radius: 2px; }
#lease-table .release-btn{ display: inline-block; padding: 5px 10px; margin-right: 20px; border: 1px solid #CCC; border-radius: 3px; box-shadow: 1px 1px 3px #cfcfcf; color: #333; text-decoration: none; float: right; background: #EEFFFF; }

#lease-table table{ width: 948px; color: #000; }
#lease-table table tr{ border-bottom: 1px solid #BBDDE5;}
#lease-table table th{ background: #2677B1 url(../images/line.png) no-repeat center left; height: 30px; text-align: center; color: #FFF; }
#lease-table table th.first{ background: #2677B1; }
#lease-table table td{ padding:10px;  position: relative;}
#lease-table table td .title-img{ display: inline-block; padding: 34px 10px; }
td ul.depot-info{ list-style: none; position: absolute; left: 150px; top:10px; }
li.area-info{ color: #0000FF; }
li font.area{ color: #FF0000; }

td ul.acreage-info{ list-style: none; margin: 10px; }
.acreage-info font{ color: #FF0000; }

a.release-date{ color: #000; text-decoration: none; margin:0 auto; }

a.details{ color: #0000FF; text-decoration: none; }
a.details:hover{ color: #009EE5; }
#page-link a{ display: inline-block; padding:0 7px; line-height: 22px; text-align: center; margin-right: 5px; }
#page-link a.yangshi{ color: #FFF; background: #009EE5; }
#page-link a:hover{ color: #333; background: #DDD; }

#turn-page .record{ display: inline-block; padding: 10px; }
.page-btnLink{ float: right; margin-top: 10px; }
#turn-page #page-tum{ width: 40px; }
#turn-page #page-btn{ width: 60px; height: 25px; background: #009EE5; border: none; color: #FFF; border-radius: 3px; box-shadow: 1px 1px 3px #cfcfcf; }
#turn-page span.num{ display: inline-block; padding: 0 5px; } 
#page-link{ margin-top: 10px; float: right; }


/*政府公告详情style*/
#main_header{ width: 948px; margin:0 auto; }

#bread-center h1{ color: #E13C15; font-size: 24px; border-bottom: 1px dashed #DADADA; text-align: center; padding: 30px; }
.release{ text-align: center; color: #6F6C6D; padding-top: 10px; }
.remark{ border: 1px solid #59ACFF; background: #ECF5FF; padding: 10px; margin: 20px; text-align: center; line-height: 25px; }
.remark .remark-bold{ font-weight: bold; font-size: 16px; }
.main-text{ color: #6F6C6D; font-size: 15px; padding: 0 10px; margin: 10px; text-indent:2em; line-height: 30px; }

.article{ color: #6F6C6D; font-size: 14px; border-top: 1px dashed #DADADA; padding: 10px 0 0 10px; margin: 10px 0 0 10px; }
.article a{ text-decoration: none; color: #6F6C6D; }


/************************/
/* list.css */

/*搜索框*/
#list_warp{
    margin: 0 auto;
}

#search_bg{
    width: 100%;
    height: 70px;
    background-color: #EEF2F2;
    padding-top:22px;
    padding-left: 200px;
}
#list_search{
    text-align: center;
    width: 416px;
    height: 27px;
    border: 1px solid #016664;
    background-color: white;

}


#search_news{
    width: 70px;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    padding-top: 3px;
    border-right: 1px #123555 dashed;
    color: #123555;
}
#list_form>input{
    border: none;
    padding: 0;
}
#search_input{
    outline: none;
    width: 250px;
    height: 25px;
}
#search_submit{
    width: 70px;
    height: 25px;
    background-color: #123555;
    color: white;
}
/*下一页*/
#page_b{

    background-color: #F4E0A4;
    width: 100%;
    height: 30px;
    line-height: 30px;

}
#page_b:after{
    content: "";
    clear: both;
}
#page_b li{
    display: inline-block;
    float: right;
    margin-right: 15px;
}

#page_b li a{
    color: #333;
}

#page_b li a:hover{
    color: #9d9d9d;
}

#page_b li:first-child{
    float: left;
    color:#333;
    margin-left: 10px;
}

/*---------------------------------图文列表页-------------------------------------*/
#list_news {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#list_news img{
    outline: 1px solid #000;
   width: 120px;
    height: 70px;
    float: left;
    margin-right: 30px;

}
.news_line{
    padding-left: 200px;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    margin-bottom: 3px;
    outline: 1px solid #CCCCCC;
}
.news_line ul{

    padding-top: 10px;
    margin-left: 30px;
}
.news_line:hover{
    outline: 1px solid #557487;
    background-color: #F5F5F5;
}



/*------------------------公告法规列表页-------------------------------*/
#list_table{
text-align: center;
    margin: 40px 40px 70px 40px;
}
#list_table table th{
    text-align: center;
}
#list_table table th:first-child{
    min-width: 400px;
}
#list_table table th{
    min-width: 150px;
    height: 35px;
    line-height: 35px;
    background-color: #123555;
    color: white;
}
#list_table table td{
    height: 30px;
    line-height: 30px;
    background-color: #EFEFEF;
}

/****会员中心****/

/**会员中心设备供应**/
.dl-list{
    padding: 10px;
    width: 942px;
    border: 1px solid #cfcfcf;
    margin: 24px auto;
    position: relative;
}
.dl-list>dl{

}
.dl-list>dl>dt{
    width: 68px;
    display: inline-block;
    /* padding-right: 22px; */
    line-height: 36px;
    text-align: right;
}
.dl-list>dl>dd{
    display: inline-block;
    padding-right: 80px;
}
.dl-list>dl>dd>a{

}
.dl-list>.search{
    position: absolute;
    top: 46px;
    left: 618px;
}



/******会员中心个人信息部分********/




/****************会员中心物流招标内容部分**************************/
.first-line {
    padding-left:10px;
}
.formsh>dl{
    
}
.formsh>dl>dt{
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
}
.formsh>dl>dd{
    display:inline-block;
}
.formsh>dl>dd>a{
    text-decoration:none;
}

.formsh>dl>dd>select,.first_bt2{
    width:176px;
    height:25px;
}
.first_bt1{
    width:176px;
    height:25px;
    margin-right:30px;
}

.first-line>table{
    width:100%;
    text-align:center;
    margin-top:30px;
    padding-top:10px;
}
.first-line>table>tr{
    padding:10px 10px;;
}
.first-line>table tr>td{
    padding:10px;
}
.tr1>th{
        text-align:center;
        padding:10px 10px;  
}
.tr2>td>a{
    display:inline-block;
    margin-left:10px;
    text-decoration:underline;
}
.tr1{
    background:#2677B1;
    text-align:center;
    color:#FFF;
}
.td7{
    color:#F00;
}
.button_two{
    margin-top:30px;
}

/**************/

/*-----------会员中心信息发布货源 & 发布货源---------------*/

.red_start{
    width: 10px;
    display:block;
    color: red;
    padding-top:3px;
    font-size: large;
    float: left;
}
#news_release1{
    margin-left: 20px;
    margin-top: 10px;
}
#news_release1 fieldset{
    margin-bottom:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #e5e5e5;
}
#news_release1 legend{

    font-size: 16px;
    font-weight: 900;
    border: none;
}
#sub_legend{
    font-size: 14px;
    font-weight: 400;
    color:#9d9d9d;
    margin-left: 20px;

}

#news_release1 dl{
    margin-bottom:20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
#news_release1 dl.with_border{
    margin-bottom:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #e5e5e5;
}
#news_release1 dt{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #333;
    border: 0;

}

#news_release1 dd{
    padding-left: 80px;
    margin-bottom: 10px;
}


.short_input{
    margin-right: 0px !important;
    width: 80px;
}

#news_release1 table{
    margin-left: 80px;
}
#news_release1 td{
    width: 394px;
    padding-bottom: 10px;
}

#g_area{
    position: relative;
}
#g_area label{
position: absolute;
top:30px;
}
#g_describe{
    margin-left: 74px;
    width: 300px;
    height: 100px;
}
#g_sure{
    text-align: center;
}


/************会员中心发布仓库***************/
#release-warehouse table{ margin:20px 0 0 150px;}
#release-warehouse input{ width: 200px; height: 30px; margin: 5px 0; padding:0 8px; }
#release-warehouse td{ padding: 5px;}
#release-warehouse option{ width: 130px; height: 26px;}
#release-warehouse select{ margin: 10px 0; }
#release-warehouse .button{width: 100px; height: 30px; background: #009EE5; color: #FFF; border: none; border-radius: 2px; font-size: 14px; }
#release-warehouse .sign{ color: red; margin: 0 10px;}
#release-warehouse .text-area{ width: 350px; height: 200px;}
#release-warehouse .upload-img{ cursor: pointer; display: block; width: 155px; height: 140px; background: #F8F8F8; border: 1px dashed #DBDBDB; line-height: 150px; text-align: center;}
#release-warehouse .deleted-img{ cursor: pointer; display: block; width: 155px; height: 24px; background: #BBDDEE; color: #FFF; border: 1px solid #DBDBDB; line-height: 24px; text-align: center;}
#release-warehouse .deleted-img:hover{ background: #99AAFF}
#release-warehouse .area-style{ width: 80px;}
#release-warehouse .storage-footer{ margin-top: 60px;}

.strong-style{ font-weight: bold; font-size: 20px; }
#release-warehouse select.classifier option{ width: 60px; }


/***********/

/*****系统管理部分******/

/*系统管理政务公告列表*/
#vip_right .manage_table{

}
#vip_right .manage_table>table{
    width: 948px;
    height: 200px;
}
#vip_right .manage_table>table tr>th{
    text-align: center;
    padding: 2px;
    font-size: 14px;
    font-family: inherit;
    background-color: #2677B1;
    color: #FFFFFF;
    font-weight: normal;
    border: 1px solid #cfcfcf;
}
#vip_right .manage_table>table tr>td{
    color: #4D5452;
    font-size: 14px;
    padding: 1px;
    text-align: center;
    border: 1px solid #cfcfcf;
}
#vip_right .manage_table>table tr>td>a{
    font-size: 14px;
    color: #DB1E1E;
}


/*****系统管理仓储信息审核*****/
#breadcrumb-main .message_review{
    padding-bottom: 50px;
}
#breadcrumb-main .message_review>dl{
    padding: 14px 0px 6px 0px;
}
#breadcrumb-main .message_review>dl>dt{
    width: 92px;
    display: inline-block;
    text-align: right;
    line-height: 36px;
}
#breadcrumb-main .message_review>dl>dd{
    padding-right: 140px;
    display: inline-block;
}
#breadcrumb-main .message_review>dl>dd>input{

}

/*------------------------ login----------------------*/
#login_warp{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding:30px 55px;
}

#load_content{
  width:100%;
  height:500px;
  margin-top:70px;
  margin-left:150px;

}

#load_content::after{
  content:'';
  clear: both;
}

#form_style{
  border:1px solid #C1C1C1;
  height:350px;
  width: 350px;
  float:right;
  margin-right:340px;
}

#form_title{
  width: 350px;
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  border-bottom:1px dashed #C1C1C1;
  padding:10px;


}
#form_style form{
  padding:0 10px;
  width: 350px;
  height:auto;

}
#form_style form input{
  margin:35px 15px 0 15px;
  width: 300px;
  height: 30px;
}

#login_b{
  margin:50px 15px 20px 15px;
  width: 300px;
}
#login_b a{
  margin: 0 1px;
}
#login_b a:first-child{
  margin-right: 100px;
}

#form_style form input::-webkit-input-placeholder { /* WebKit browsers */

  padding-left: 5px;

}
#form_style form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

  padding-left: 5px;
}
#form_style form input::-moz-placeholder { /* Mozilla Firefox 19+ */

  padding-left: 5px;
}
#form_style form input:-ms-input-placeholder { /* Internet Explorer 10+ */

  padding-left: 5px;
}
