
/*搜索框*/
#list_warp{
    margin: 0 auto;
}

#search_bg{
    width: 100%;
    height: 50px;
    background-color: #F4E0A4;
    padding-top:12px;
    padding-left: 200px;
}
#list_search{
    text-align: center;
    width: 416px;
    height: 27px;
    border: 1px solid #016664;
    background-color: white;

}


#search_news{
    width: 70px;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    padding-top: 3px;
    border-right: 1px #123555 dashed;
    color: #123555;
}
#list_form>input{
    border: none;
    padding: 0;
}
#search_input{
    outline: none;
    width: 250px;
    height: 25px;
}
#search_submit{
    width: 70px;
    height: 25px;
    background-color: #123555;
    color: white;
}
/*下一页*/
#page_b{

    background-color: #F4E0A4;
    width: 100%;
    height: 30px;
    line-height: 30px;

}
#page_b:after{
    content: "";
    clear: both;
}
#page_b li{
    display: inline-block;
    float: right;
    margin-right: 15px;
}

#page_b li a{
    color: #333;
}

#page_b li a:hover{
    color: #9d9d9d;
}

#page_b li:first-child{
    float: left;
    color:#333;
    margin-left: 10px;
}

/*---------------------------------图文列表页-------------------------------------*/
#list_news {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#list_news img{
    outline: 1px solid #000;
   width: 120px;
    height: 70px;
    float: left;
    margin-right: 30px;

}
.news_line{
    padding-left: 200px;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    margin-bottom: 3px;
    outline: 1px solid #CCCCCC;
}
.news_line ul{

    padding-top: 10px;
    margin-left: 30px;
}
.news_line:hover{
    outline: 1px solid #557487;
    background-color: #F5F5F5;
}



/*------------------------公告法规列表页-------------------------------*/
#list_table{
text-align: center;
    margin: 40px 40px 70px 40px;
}
#list_table table th{
    text-align: center;
}
#list_table table th:first-child{
    min-width: 400px;
}
#list_table table th{
    min-width: 150px;
    height: 35px;
    line-height: 35px;
    background-color: #123555;
    color: white;
}
#list_table table td{
    height: 30px;
    line-height: 30px;
    background-color: #EFEFEF;
}
