@charset "utf-8";
#first {
  height: 100px;
  background: #ff0000;
  border: 1px solid #123555;
  width: 100px;
}
.border {
  border: 1px solid #123555;
  width: 100px;
}
.border3 {
  width: 200px;
}
.sanjiao {
  border-width: 5px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
}
.box_0 {
  width: 320px;
}
ul {
  background: yellow;
}
ul li {
  background: blue;
}
.test_arguments {
  border: 40px #ff0000 solid;
}
.test_3 {
  width: calc(300px-30px);
}
