img{

	float: left;
	
}
.container{
	border:1px solid #123555;
	margin: 0 auto;
	width:305px;
	height:330px;
	position:relative;
	overflow: hidden;
}
.list{
	width:1250px;
	height:330px;
	overflow: auto;
	position:absolute;
	left:0px;
}